#countries-name {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: auto;
}

.country {
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.country-name {
    font-size: 50px;
    color: hsl(202, 91%, 48%);
    font-weight: 700px;
}

.country img {
    width: 400px;
}

h1 {
    color: rgba(3, 3, 3, 0.774);
    text-align: center;
    font-size: 50px
}